body { overflow: scroll; position: absolute; width: 100%; max-width: 100%; height: 100%; max-height: 100%; margin: 0; padding: 0; }
#hint { z-index: 9999; position: fixed; width: 100%; left: 0; right: 0; bottom: 50px; font-size: 30px; line-height: 30px; text-align: center; margin: 0; padding: 20px; background-color: white; background-color: rgba(255,255,255,0.35); }
#hint img { width: 30px; height: 30px; margin-top: -7px; }
#viewer { overflow: hidden; position: absolute; width: 5000px; max-width: 5000px; height: 2907px; max-height: 2907px; margin: 0; padding: 0; }
#map { width: 5000px; max-width: 5000px; height: 2907px; max-height: 2907px; cursor: move; }
#markers, .marker-container { position: relative; top: 0; left: 0; width: 0; height: 0; margin: 0; padding: 0; }
.marker { z-index: 999; display: block; width: 20px; height: 20px; margin: 0; padding: 0; cursor: pointer; background-image: url(../img/marker.png); }
.marker-container .tooltip { width: 110px; }
.new-event .modal-header {
  padding-top: 8px;
  padding-bottom: 8px;
  background-color: #ECECEC;
  background-repeat: repeat-x;
  background-image: -moz-linear-gradient(top,whiteSmoke 0,#ECECEC 100%);
  background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0%,whiteSmoke),color-stop(100%,#ECECEC));
  background-image: -webkit-linear-gradient(top,whiteSmoke 0,#ECECEC 100%);
  background-image: -ms-linear-gradient(top,whiteSmoke 0,#ECECEC 100%);
  background-image: -o-linear-gradient(top,whiteSmoke 0,#ECECEC 100%);
  background-image: linear-gradient(top,whiteSmoke 0,#ECECEC 100%);
  border-bottom: 1px solid #DDD;
  -webkit-border-radius: 6px 6px 0 0;
  -moz-border-radius: 6px 6px 0 0;
  border-radius: 6px 6px 0 0;
  -webkit-box-shadow: inset 0 1px 0 white;
  -moz-box-shadow: inset 0 1px 0 #fff;
  box-shadow: inset 0 1px 0 white;
}
.new-event .modal-title { width: 75%; margin: 0 auto; font-size: 15px; font-weight: bold; line-height: 18px; color: #555; text-align: center; text-shadow: 0 1px 0 white; }
.new-event button.close { margin: -3px -3px 0 0; padding: 0; }
#content { resize: none; margin-bottom: 8px; width: 512px; height: 100px; padding: 8px; vertical-align: top; overflow: hidden; }
.char-counter { margin: 0; padding: 4px 6px; }
.char-counter span { margin: 0; padding: 0 2px; }
.char-counter span.superwarn { color: #d40d12; }
.new-event .part { margin: 0; padding: 0; }
.new-event .fileupload { margin-bottom: 0; margin-left: 5px; }
.new-event .fileupload-preview { display: inline-block; max-width: 300px; overflow: hidden; }
